.Container {
    padding: 0.5rem;
}

.Container:hover {
    background-color: #40394a;
    cursor: pointer;
}

.Card {
    width: 350px;
}

.Info {
    font-family: monospace;
    font-style: italic;
    font-size: 12px;
}

.Time {
    float: left;
}

.Item {
    float: right;
}

.Card h2,
.Info p {
    margin: 0.3rem;
}
