.Item {
    padding: 10px;
    height: 95%;
    width: 20rem;
    background-color: transparent;
    border: 0.2rem solid #16213e;
    color: #ccc;
    position: relative;
    padding: 10px 8px;
    box-sizing: border-box;
    overflow-y: scroll;
}

.Item:hover {
    border: 0.2rem solid #c76e3d;
    cursor: pointer;
}

.Header {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
}

.Header h3:hover {
    color: #c76e3d;
    cursor: pointer;
}
