.Auth {
    width: 90%;
    max-width: 25rem;
    margin: 7rem auto;
    text-align: center;
}

.Header {
    color: #ccc;
    text-align: center;
}

.Auth form {
    margin-bottom: 1rem;
}

.Intro {
    margin-top: 8rem;
    color: #ccc;
    text-align: center;
}

.Intro h2 {
    text-decoration: underline;
}

.Intro p:first-of-type {
    font-style: italic;
}

.Intro p a {
    color: gray;
}
