.Container {
    padding: 1rem;
}

.Content {
    display: flex;
    flex-direction: row;
    place-content: space-between;
    align-items: center;
}

.Content img {
    margin-right: 1rem;
}

.Control {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.Control button:last-of-type {
    margin-top: 1rem;
}

.Content img:hover {
    cursor: pointer;
}
