.Footer {
    background-color: #16213e;
    text-align: center;
    color: #ccc;
    font-style: italic;
    position: fixed;
    width: 100%;
    right: 0;
    bottom: 0;
}

.Footer span {
    margin: 0 10px 0 10px;
}

.Footer a {
    color: unset;
    text-decoration: unset;
}

.Clickable {
    cursor: pointer;
}

.Clickable:hover {
    color: dimgray;
}
