.Container {
    overflow-y: scroll;
    width: 100%;
}

.Checklists h2 {
    padding: 1rem;
}

.AddChecklist {
    border: 1px solid dimgray;
    border-radius: 1rem;
    width: 10rem;
    margin-top: 1rem;
    padding: 1rem;
}

.AddChecklist:hover {
    cursor: pointer;
    color: #c76e3d;
}
